In [12]:
# Pandas is used for data manipulation
import pandas as pd

# Read in data and display first 5 rows
features = pd.read_csv("../Processed Data/Clusters.csv")
columns = features.columns
features.set_index('Ticker', inplace=True)
display(features)

,Last Sale,Net Change,% Change,Market Cap,Volume,52 wk high,52 wk low,beta,P/E,Avg Volume,over/under,cluster
Ticker,,,,,,,,,,,,
ABM,43.33,-0.700,-0.0159,2.906510e+09,58808,45.24,19.79,1.36,14824.91,301238,0,2
AC,36.78,-0.740,-0.0197,8.203833e+08,12335,45.22,24.19,1.34,43.49,13253,0,0
AEB,24.96,0.130,0.0052,0.000000e+00,5983,25.44,11.51,1.88,0.00,18079,0,0
AEG,4.89,0.025,0.0051,9.909317e+09,1238486,4.94,1.80,1.42,0.00,2487658,0,0
AEL,28.25,0.150,0.0053,2.704108e+09,142866,34.25,9.07,1.24,4.06,742648,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
WF,26.09,0.400,0.0156,6.281321e+09,6318,28.50,15.54,0.61,5.48,21994,0,0
WHG,17.56,0.010,0.0006,1.462212e+08,12569,26.90,9.42,1.55,0.00,42795,1,3
WRB,70.97,0.835,0.0119,1.258648e+10,293918,72.25,43.05,0.82,24.71,818005,1,3
Y,644.00,-8.510,-0.0130,9.011272e+09,23083,727.72,426.87,0.66,96.18,64471,0,6
YRD,5.04,-0.180,-0.0345,4.677448e+08,72113,6.80,2.70,0.76,12.30,490685,0,0

In [13]:
features['cluster'].value_counts()

0    118
3     77
1     13
4     12
2      2
6      1
5      1
Name: cluster, dtype: int64

In [14]:
counts = features['cluster'].value_counts()

In [15]:
#dropping clusters with less than 10 stocks(almost noise data)
features_dupl = features;
for index, feature in features_dupl.iterrows():
    if counts[feature['cluster']] < 10:
        features = features.drop([index])

In [16]:
features['cluster'].value_counts()

0    118
3     77
1     13
4     12
Name: cluster, dtype: int64

In [17]:
import numpy as np
labels = np.array(features['cluster'])
features= features.drop('cluster', axis = 1)
feature_list = list(features.columns)
features = np.array(features)

In [18]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [19]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (165, 11)
Training Labels Shape: (165,)
Testing Features Shape: (55, 11)
Testing Labels Shape: (55,)

In [20]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42)
rf.fit(train_features, train_labels);

In [21]:
from sklearn.metrics import confusion_matrix

test_pred = rf.predict(test_features)
confusion_matrix(test_labels, test_pred)

array([[30,  0,  0,  0],
       [ 0,  3,  1,  0],
       [ 0,  0, 19,  0],
       [ 0,  0,  0,  2]], dtype=int64)

In [22]:
print(test_labels)

[0 3 0 0 3 0 0 0 0 0 0 0 0 3 4 3 0 0 3 0 3 0 3 0 0 0 3 0 0 4 3 3 0 0 0 1 3
 3 0 3 0 0 1 3 3 3 3 3 1 0 0 3 0 1 0]

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(test_labels, test_pred)

0.9818181818181818

In [24]:
#Identify feature importance
importances = rf.feature_importances_

In [25]:
print(importances)

[0.03238954 0.03911087 0.02562602 0.07429556 0.08933142 0.02843231
 0.03206389 0.02633558 0.03539319 0.08508063 0.531941  ]

In [26]:
print(columns)
#columns will line up with importance above - Ticker column

Index(['Ticker', 'Last Sale', 'Net Change', '% Change', 'Market Cap', 'Volume',
       '52 wk high', '52 wk low', 'beta', 'P/E', 'Avg Volume', 'over/under',
       'cluster'],
      dtype='object')